<!doctype>
<html>
<head>
    
</head>
    <body>
    <h1>Welcome to profile of <%= person %></h1>
        <p><strong>Age: </strong><%= data.age %></p>
        <p><strong>Job: </strong><%= data.job %></p>
        <p><strong>Salary: </strong><%= data.sal %></p>
        <h3>Hobbies</h3>
        <ul>
         <% data.hobbies.forEach(function(hobby){ %>
            <li><%= hobby %></li>    
          <%  });  %>
        </ul>
        <a href="http://localhost:3000/logout">Logout</a>
    </body>
</html>